<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Engine</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Search Engine</h1>
    <h2>Hey! looking for DSA problems?</h2>
    <br>

    <form>
      <input type="text" name="question" id="question" />
      <input type="submit" value="Search" />
    </form>

    <div class="loading"></div>
    <div class="NotFound"></div>

    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>copyright&copy;2022 </p>
    <p>Author: Deepak Kumar</p>
    <p> Indian Institute Of Technology Kharagpur</p>
  </body>
</html>

<script>
  const form = document.querySelector("form");
  const questionElement = form.question;

  const questions = document.querySelectorAll(".question");
  const titles = document.querySelectorAll(".title");
  const urls = document.querySelectorAll(".url");
  const quesBody = document.querySelectorAll(".body");
  const loadingDiv = document.querySelector(".loading");
  const NotFound =document.querySelector(".NotFound");

  //   console.log(questions);
  //   console.log(titles);
  //   console.log(urls);
  //   console.log(quesBody);

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const question = questionElement.value;
    for (let i = 0; i < 10; i++) {
      titles[i].innerHTML = ``;
      urls[i].innerHTML = ``;
      NotFound.innerHTML = ``;

    }

    loadingDiv.innerHTML = `Loading...`;
    //fetch

    try {
      const res = await fetch(`/search?question=${question}`, {
        method: "GET",
      });
      const data = await res.json();

      loadingDiv.innerHTML = ``;
if(data[0].title===0){
 NotFound.innerHTML = "Not Found";
}
else {
      for (let i = 0; i < 10; i++) {
        titles[i].innerHTML = `<h3>${data[i].title}</h3>`;
        urls[i].innerHTML = `<a href=${data[i].url} target="_blank">${data[i].url}</a>`;
        NotFound.innerHTML = "";
      }
    }
    } catch (error) {
      alert(error);
    }
  });
</script>
